@model IEnumerable<GIP5_ScrumBoard.Models.Milestone>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Project Manager"))
    {
    <a asp-action="Create" class="btn btn-success">
       <i class="fa-solid fa-plus fa-fw me-1"></i>Milestone toevoegen
    </a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets)
             </th>
             <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets.Count)
            </td>
            <td>
            @if (User.IsInRole("Project Manager"))
                {

                <a asp-action="Edit" asp-route-id="@item.MilestoneId" class="btn btn-sm btn-outline-success">
                  <i class="fa-solid fa-pencil fa-fw me-1"></i>Bewerken
                </a>
                <a asp-action="Delete" asp-route-id="@item.MilestoneId" class="btn btn-sm btn-outline-danger">
                   <i class="fa-solid fa-trash fa-fw me-1"></i>Verwijderen
                </a>
            }
                <a asp-action="Details" asp-route-id="@item.MilestoneId" class="btn btn-sm btn-outline-primary">
                   <i class="fa-solid fa-eye fa-fw me-1"></i>Bekijken
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
                $(document).ready( function () {
            $('table').DataTable({

            });
        } );
    </script>
}
